name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
      - dev
  schedule:
    - cron: '0 0 * * 5'
  workflow_dispatch:

defaults:
  run:
    shell: bash --noprofile --norc -CeEuxo pipefail {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  tidy:
    uses: taiki-e/github-actions/.github/workflows/tidy.yml@main
    permissions:
      contents: read
      pull-requests: write # for gh pr edit --add-assignee
      repository-projects: read # for gh pr edit --add-assignee
    secrets: inherit

  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          # --------------------------------------------------------------------
          # binutils/objdump
          - package: binutils
          - package: binutils
            os: ubuntu-24.04-arm
          # --------------------------------------------------------------------
          # build-base
          - package: build-base
            distro: ubuntu:18.04
          - package: build-base
            distro: ubuntu:20.04
          - package: build-base
            distro: ubuntu:22.04
          - package: build-base
            distro: ubuntu:24.04 # latest
          - package: build-base
            distro: ubuntu:25.10 # rolling
          - package: build-base
            distro: debian:11
          - package: build-base
            distro: debian:12
          - package: build-base
            distro: debian:13 # latest
          - package: build-base
            distro: debian:testing
          - package: build-base
            distro: alpine:3.23 # latest
          - package: build-base
            distro: alpine:edge
          # --------------------------------------------------------------------
          # downloader
          - package: downloader
          # --------------------------------------------------------------------
          # qemu-user
          - package: qemu-user
          # --------------------------------------------------------------------
          # qemu-system
          - package: qemu-system
          - package: qemu-system
            os: ubuntu-24.04-arm
          - package: qemu-system
            qemu: '7.2.22'
          - package: qemu-system
            qemu: '7.2.22'
            os: ubuntu-24.04-arm
          # --------------------------------------------------------------------
          # valgrind
          - package: valgrind
            arch: amd64
          - package: valgrind
            arch: arm64
          - package: valgrind
            arch: armhf
          - package: valgrind
            arch: i386
          - package: valgrind
            arch: ppc64el
          - package: valgrind
            arch: riscv64
          - package: valgrind
            arch: s390x
          # --------------------------------------------------------------------
          # vnc
          - package: vnc
            distro: ubuntu:18.04
          - package: vnc
            distro: ubuntu:20.04
          - package: vnc
            distro: ubuntu:22.04
          - package: vnc
            distro: ubuntu:24.04 # latest
          - package: vnc
            distro: debian:11
          - package: vnc
            distro: debian:12
          - package: vnc
            distro: debian:13 # latest
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    timeout-minutes: 60
    permissions:
      contents: read
      packages: write # for push to ghcr
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/setup-docker@main
      - run: |
          docker login ghcr.io -u "${GITHUB_ACTOR}" --password-stdin <<<"${{ secrets.GITHUB_TOKEN }}"
          printf 'PUSH_TO_GHCR=1\n' >>"${GITHUB_ENV}"
        if: github.repository_owner == 'taiki-e' && (github.event_name == 'push' && github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule')
      - run: |
          "${{ matrix.package }}"/build-docker.sh ${{ matrix.distro }} ${{ matrix.arch }}
        env:
          QEMU_VERSION: ${{ matrix.qemu }}

  manifest:
    if: github.repository_owner == 'taiki-e' && (github.event_name == 'push' && github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule')
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      contents: read
      packages: write # for push to ghcr
    steps:
      - uses: taiki-e/checkout-action@v1
      - run: |
          docker login ghcr.io -u "${GITHUB_ACTOR}" --password-stdin <<<"${{ secrets.GITHUB_TOKEN }}"
          printf 'PUSH_TO_GHCR=1\n' >>"${GITHUB_ENV}"
        if: github.repository_owner == 'taiki-e' && (github.event_name == 'push' && github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule')
      - run: binutils/docker-manifest.sh
      - run: qemu-system/docker-manifest.sh
      - run: QEMU_VERSION=7.2.22 qemu-system/docker-manifest.sh
